@model IEnumerable<bike_web.Models.Home>


@{
    ViewBag.Title = "officialRoute";
}

<!-- search area-->
<div class="container-fluid py-3">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 mt-3">
                <h3 class="font-32 ps-3 border-start border-4 border-primary fw-bold my-4">官方推薦路線</h3>
            </div>
            <div class="col-lg-6 mt-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="請輸入關鍵字" aria-label="請輸入關鍵字" aria-describedby="button-addon2" />
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">搜尋</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- main content -->
<div class="container py-4">
    <div class="row">
        <div class="col-md-3">
            <h5 class="text-center bg-light rounded-1 border-start border-end border-4 border-primary py-2 fw-bold tracking-3">熱門分類</h5>
            <div class="card border-0 mb-3">
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-lg btn-primary">初級路線</button>
                    <button type="button" class="btn btn-lg btn-light">中級路線</button>
                    <button type="button" class="btn btn-lg btn-primary">高級路線</button>
                    <button type="button" class="btn btn-lg btn-light">#海產 650件</button>
                    <button type="button" class="btn btn-lg btn-primary">#貓 230件</button>
                    <button type="button" class="btn btn-lg btn-light">#高雄 222件</button>
                    <button type="button" class="btn btn-lg btn-primary">#文藝 185件</button>
                    <button type="button" class="btn btn-lg btn-light">#美食 165件</button>
                    <button type="button" class="btn btn-lg btn-primary">#海鮮 138件</button>
                    <button type="button" class="btn btn-lg btn-light">#旗津 102件</button>
                    <button type="button" class="btn btn-primary fw-bold">看更多</button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <!-- 官方景點介紹 -->
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-6">
                        <div class="card mb-3">
                            <div class="position-absolute" style="top: 20px; right: 20px">
                                <button type="button" class="btn btn-outline-danger rounded-pill">
                                    <i class="bi bi-heart fs-5"></i>
                                </button>
                            </div>
                            <span>
                                <a href="./officialSingleRoute.html"> <img src="~/images/@item.himg" class="card-img-top" alt="..." /> </a>
                            </span>
                            <div class="card-body">
                                <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">@item.hname</h5>
                                <div class="d-flex justify-content-between pb-2 mb-2 flex-lg-row flex-md-column">
                                    <div class="badge bg-light font-20 text-darkBrown px-3">長度:@item.hdistance km</div>
                                    <div class="badge bg-darkBrown font-20 px-3">難度:<span class="text-primary font-20">@item.hrank</span></div>
                                </div>
                                <p class="card-text">@item.hdescription</p>
                                <div class="d-flex justify-content-between">
                                    <div><i class="bi bi-eye fs-4"></i><span class="ms-2">0</span></div>
                                    <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">0.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- 下方熱門路線 -->
<div class="container-fluid bg-lighter py-5">
    <div class="container">
        <span class="badge bg-darkBrown px-3 bold">熱門景點</span>
        <h1 class="ps-3 border-start border-4 border-primary fw-bold my-4 mb-3">高雄夯單車路線</h1>
        <div class="row">
            <li class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="position-absolute" style="top: 20px; right: 20px">
                        <button type="button" class="btn btn-outline-danger rounded-pill">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                    </div>
                    <img src="images/banner1.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">自行車路線01</h5>
                        <div class="d-flex justify-content-between pb-2 mb-2 flex-lg-row flex-md-column">
                            <div class="badge bg-light font-20 text-darkBrown px-3">長度:20km</div>
                            <div class="badge bg-darkBrown font-20 px-3">難度:<span class="text-primary font-20">中級</span></div>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, atque?</p>
                        <div class="d-flex justify-content-between">
                            <div><i class="bi bi-eye fs-4"></i><span class="ms-2">0</span></div>
                            <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">0.00</span></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="position-absolute" style="top: 20px; right: 20px">
                        <button type="button" class="btn btn-outline-danger rounded-pill">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                    </div>
                    <img src="images/banner1.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">自行車路線02</h5>
                        <div class="d-flex justify-content-between pb-2 mb-2 flex-lg-row flex-md-column">
                            <div class="badge bg-light font-20 text-darkBrown px-3">長度:20km</div>
                            <div class="badge bg-darkBrown font-20 px-3">難度:<span class="text-primary font-20">中級</span></div>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, atque?</p>
                        <div class="d-flex justify-content-between">
                            <div><i class="bi bi-eye fs-4"></i><span class="ms-2">0</span></div>
                            <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">0.00</span></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="position-absolute" style="top: 20px; right: 20px">
                        <button type="button" class="btn btn-outline-danger rounded-pill">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                    </div>
                    <img src="images/banner1.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">自行車路線03</h5>
                        <div class="d-flex justify-content-between pb-2 mb-2 flex-lg-row flex-md-column">
                            <div class="badge bg-light font-20 text-darkBrown px-3">長度:20km</div>
                            <div class="badge bg-darkBrown font-20 px-3">難度:<span class="text-primary font-20">中級</span></div>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, atque?</p>
                        <div class="d-flex justify-content-between">
                            <div><i class="bi bi-eye fs-4"></i><span class="ms-2">0</span></div>
                            <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">0.00</span></div>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </div>
</div>