@{
    ViewBag.Title = "privateRoute";
}

<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <p class="fw-bold text-center font-32 my-3 pb-3">TOP1 #西子灣 2336件</p>
        </div>
        <div class="row">
            <li class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="position-absolute" style="top: 20px; right: 20px">
                        <button type="button" class="btn btn-outline-success img-thumbnail">
                            <i class="bi bi-bicycle fs-5"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-pill">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                    </div>
                    <img src="images/D02.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <img class="d-block rounded-circle float-start" style="width: 30px; height: 30px" src="images/I2.png" />
                        <div class="d-flex justify-content-between py-2">
                            <div class="badge bg-light text-darkBrown px-3">紀錄者:may33</div>
                            <div class="px-3"><span>2 days 20:17:20</span></div>
                        </div>

                        <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">六龜十八羅漢山自然保護</h5>

                        <p class="card-text">轄區內有秀麗的山巒、保育完好的森林、優質的湯泉與豐富的自然生態資源，依山傍水、氣候溫和宜人，日照充足。</p>
                        <a href="#" class="btn btn-primary w-100 fw-bold">看更多</a>
                        <div class="d-flex justify-content-between">
                            <div><i class="bi bi-eye fs-4"></i><span class="ms-2">663</span></div>
                            <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">3.87</span></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="position-absolute" style="top: 20px; right: 20px">
                        <button type="button" class="btn btn-outline-success img-thumbnail">
                            <i class="bi bi-bicycle fs-5"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-pill">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                    </div>
                    <img src="images/D03.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <img class="d-block rounded-circle float-start" style="width: 30px; height: 30px" src="images/I3.jpg" />
                        <div class="d-flex justify-content-between py-2">
                            <div class="badge bg-light text-darkBrown px-3">紀錄者:小白</div>
                            <div class="px-3"><span>5 days 15:05:20</span></div>
                        </div>
                        <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">愛河連接蓮池潭</h5>

                        <p class="card-text">高雄市"愛河"沿線最完整也最宜人的一條單車步道，沿著愛河兩岸河堤，北至"蓮池潭"、南至"愛河出海口"。</p>
                        <a href="#" class="btn btn-primary w-100 fw-bold">看更多</a>
                        <div class="d-flex justify-content-between">
                            <div><i class="bi bi-eye fs-4"></i><span class="ms-2">564</span></div>
                            <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">4.11</span></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="position-absolute" style="top: 20px; right: 20px">
                        <button type="button" class="btn btn-outline-success img-thumbnail">
                            <i class="bi bi-bicycle fs-5"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-pill">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                    </div>
                    <img src="images/D04.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <img class="d-block rounded-circle float-start" style="width: 30px; height: 30px" src="images/I4.jpg" />
                        <div class="d-flex justify-content-between py-2">
                            <div class="badge bg-light text-darkBrown px-3">紀錄者:胖胖</div>
                            <div class="px-3"><span>1 days 3:05:20</span></div>
                        </div>
                        <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">阿公店水庫自行車道</h5>

                        <p class="card-text">車道內設有環湖10景，分別為崗山倒影、長堤夕照、龍口吞泉、水漾釣月、煙波虹橋、竹林泮騎、樹影果香、晨鐘......</p>
                        <a href="#" class="btn btn-primary w-100 fw-bold">看更多</a>
                        <div class="d-flex justify-content-between">
                            <div><i class="bi bi-eye fs-4"></i><span class="ms-2">1085</span></div>
                            <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">3.90</span></div>
                        </div>
                    </div>
                </div>
            </li>
            <a href="#" class="btn btn-primary w-100 fw-bold">看更多</a>
        </div>

        <div class="row justify-content-center">
            <p class="fw-bold text-center font-32 my-3 pb-3">TOP2 #約會勝地 1456件</p>
        </div>
        <div class="row">
            <li class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="position-absolute" style="top: 20px; right: 20px">
                        <button type="button" class="btn btn-outline-success img-thumbnail">
                            <i class="bi bi-bicycle fs-5"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-pill">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                    </div>
                    <img src="images/D02.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <img class="d-block rounded-circle float-start" style="width: 30px; height: 30px" src="images/I2.png" />
                        <div class="d-flex justify-content-between py-2">
                            <div class="badge bg-light text-darkBrown px-3">紀錄者:may33</div>
                            <div class="px-3"><span>2 days 20:17:20</span></div>
                        </div>

                        <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">六龜十八羅漢山自然保護</h5>

                        <p class="card-text">轄區內有秀麗的山巒、保育完好的森林、優質的湯泉與豐富的自然生態資源，依山傍水、氣候溫和宜人，日照充足。</p>
                        <a href="#" class="btn btn-primary w-100 fw-bold">看更多</a>
                        <div class="d-flex justify-content-between">
                            <div><i class="bi bi-eye fs-4"></i><span class="ms-2">663</span></div>
                            <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">3.87</span></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="position-absolute" style="top: 20px; right: 20px">
                        <button type="button" class="btn btn-outline-success img-thumbnail">
                            <i class="bi bi-bicycle fs-5"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-pill">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                    </div>
                    <img src="images/D03.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <img class="d-block rounded-circle float-start" style="width: 30px; height: 30px" src="images/I3.jpg" />
                        <div class="d-flex justify-content-between py-2">
                            <div class="badge bg-light text-darkBrown px-3">紀錄者:小白</div>
                            <div class="px-3"><span>5 days 15:05:20</span></div>
                        </div>
                        <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">愛河連接蓮池潭</h5>

                        <p class="card-text">高雄市"愛河"沿線最完整也最宜人的一條單車步道，沿著愛河兩岸河堤，北至"蓮池潭"、南至"愛河出海口"。</p>
                        <a href="#" class="btn btn-primary w-100 fw-bold">看更多</a>
                        <div class="d-flex justify-content-between">
                            <div><i class="bi bi-eye fs-4"></i><span class="ms-2">564</span></div>
                            <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">4.11</span></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="position-absolute" style="top: 20px; right: 20px">
                        <button type="button" class="btn btn-outline-success img-thumbnail">
                            <i class="bi bi-bicycle fs-5"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-pill">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                    </div>
                    <img src="images/D04.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <img class="d-block rounded-circle float-start" style="width: 30px; height: 30px" src="images/I4.jpg" />
                        <div class="d-flex justify-content-between py-2">
                            <div class="badge bg-light text-darkBrown px-3">紀錄者:胖胖</div>
                            <div class="px-3"><span>1 days 3:05:20</span></div>
                        </div>
                        <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">阿公店水庫自行車道</h5>

                        <p class="card-text">車道內設有環湖10景，分別為崗山倒影、長堤夕照、龍口吞泉、水漾釣月、煙波虹橋、竹林泮騎、樹影果香、晨鐘......</p>
                        <a href="#" class="btn btn-primary w-100 fw-bold">看更多</a>
                        <div class="d-flex justify-content-between">
                            <div><i class="bi bi-eye fs-4"></i><span class="ms-2">1085</span></div>
                            <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">3.90</span></div>
                        </div>
                    </div>
                </div>
            </li>
            <a href="#" class="btn btn-primary w-100 fw-bold">看更多</a>
        </div>

        <div class="row justify-content-center">
            <p class="fw-bold text-center font-32 my-3 pb-3">TOP3 #旗津一日遊 742件</p>
        </div>
        <div class="row">
            <li class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="position-absolute" style="top: 20px; right: 20px">
                        <button type="button" class="btn btn-outline-success img-thumbnail">
                            <i class="bi bi-bicycle fs-5"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-pill">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                    </div>
                    <img src="images/D02.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <img class="d-block rounded-circle float-start" style="width: 30px; height: 30px" src="images/I2.png" />
                        <div class="d-flex justify-content-between py-2">
                            <div class="badge bg-light text-darkBrown px-3">紀錄者:may33</div>
                            <div class="px-3"><span>2 days 20:17:20</span></div>
                        </div>

                        <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">六龜十八羅漢山自然保護</h5>

                        <p class="card-text">轄區內有秀麗的山巒、保育完好的森林、優質的湯泉與豐富的自然生態資源，依山傍水、氣候溫和宜人，日照充足。</p>
                        <a href="#" class="btn btn-primary w-100 fw-bold">看更多</a>
                        <div class="d-flex justify-content-between">
                            <div><i class="bi bi-eye fs-4"></i><span class="ms-2">663</span></div>
                            <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">3.87</span></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="position-absolute" style="top: 20px; right: 20px">
                        <button type="button" class="btn btn-outline-success img-thumbnail">
                            <i class="bi bi-bicycle fs-5"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-pill">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                    </div>
                    <img src="images/D03.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <img class="d-block rounded-circle float-start" style="width: 30px; height: 30px" src="images/I3.jpg" />
                        <div class="d-flex justify-content-between py-2">
                            <div class="badge bg-light text-darkBrown px-3">紀錄者:小白</div>
                            <div class="px-3"><span>5 days 15:05:20</span></div>
                        </div>
                        <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">愛河連接蓮池潭</h5>

                        <p class="card-text">高雄市"愛河"沿線最完整也最宜人的一條單車步道，沿著愛河兩岸河堤，北至"蓮池潭"、南至"愛河出海口"。</p>
                        <a href="#" class="btn btn-primary w-100 fw-bold">看更多</a>
                        <div class="d-flex justify-content-between">
                            <div><i class="bi bi-eye fs-4"></i><span class="ms-2">564</span></div>
                            <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">4.11</span></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="position-absolute" style="top: 20px; right: 20px">
                        <button type="button" class="btn btn-outline-success img-thumbnail">
                            <i class="bi bi-bicycle fs-5"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-pill">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                    </div>
                    <img src="images/D04.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <img class="d-block rounded-circle float-start" style="width: 30px; height: 30px" src="images/I4.jpg" />
                        <div class="d-flex justify-content-between py-2">
                            <div class="badge bg-light text-darkBrown px-3">紀錄者:胖胖</div>
                            <div class="px-3"><span>1 days 3:05:20</span></div>
                        </div>
                        <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">阿公店水庫自行車道</h5>

                        <p class="card-text">車道內設有環湖10景，分別為崗山倒影、長堤夕照、龍口吞泉、水漾釣月、煙波虹橋、竹林泮騎、樹影果香、晨鐘......</p>
                        <a href="#" class="btn btn-primary w-100 fw-bold">看更多</a>
                        <div class="d-flex justify-content-between">
                            <div><i class="bi bi-eye fs-4"></i><span class="ms-2">1085</span></div>
                            <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">3.90</span></div>
                        </div>
                    </div>
                </div>
            </li>
            <a href="#" class="btn btn-primary w-100 fw-bold">看更多</a>
        </div>

        <div class="row justify-content-center">
            <p class="fw-bold text-center font-32 my-3 pb-3">TOP4 #海產 650件</p>
        </div>
        <div class="row">
            <li class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="position-absolute" style="top: 20px; right: 20px">
                        <button type="button" class="btn btn-outline-success img-thumbnail">
                            <i class="bi bi-bicycle fs-5"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-pill">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                    </div>
                    <img src="images/D02.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <img class="d-block rounded-circle float-start" style="width: 30px; height: 30px" src="images/I2.png" />
                        <div class="d-flex justify-content-between py-2">
                            <div class="badge bg-light text-darkBrown px-3">紀錄者:may33</div>
                            <div class="px-3"><span>2 days 20:17:20</span></div>
                        </div>

                        <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">六龜十八羅漢山自然保護</h5>

                        <p class="card-text">轄區內有秀麗的山巒、保育完好的森林、優質的湯泉與豐富的自然生態資源，依山傍水、氣候溫和宜人，日照充足。</p>
                        <a href="#" class="btn btn-primary w-100 fw-bold">看更多</a>
                        <div class="d-flex justify-content-between">
                            <div><i class="bi bi-eye fs-4"></i><span class="ms-2">663</span></div>
                            <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">3.87</span></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="position-absolute" style="top: 20px; right: 20px">
                        <button type="button" class="btn btn-outline-success img-thumbnail">
                            <i class="bi bi-bicycle fs-5"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-pill">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                    </div>
                    <img src="images/D03.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <img class="d-block rounded-circle float-start" style="width: 30px; height: 30px" src="images/I3.jpg" />
                        <div class="d-flex justify-content-between py-2">
                            <div class="badge bg-light text-darkBrown px-3">紀錄者:小白</div>
                            <div class="px-3"><span>5 days 15:05:20</span></div>
                        </div>
                        <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">愛河連接蓮池潭</h5>

                        <p class="card-text">高雄市"愛河"沿線最完整也最宜人的一條單車步道，沿著愛河兩岸河堤，北至"蓮池潭"、南至"愛河出海口"。</p>
                        <a href="#" class="btn btn-primary w-100 fw-bold">看更多</a>
                        <div class="d-flex justify-content-between">
                            <div><i class="bi bi-eye fs-4"></i><span class="ms-2">564</span></div>
                            <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">4.11</span></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="position-absolute" style="top: 20px; right: 20px">
                        <button type="button" class="btn btn-outline-success img-thumbnail">
                            <i class="bi bi-bicycle fs-5"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-pill">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                    </div>
                    <img src="images/D04.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <img class="d-block rounded-circle float-start" style="width: 30px; height: 30px" src="images/I4.jpg" />
                        <div class="d-flex justify-content-between py-2">
                            <div class="badge bg-light text-darkBrown px-3">紀錄者:胖胖</div>
                            <div class="px-3"><span>1 days 3:05:20</span></div>
                        </div>
                        <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">阿公店水庫自行車道</h5>

                        <p class="card-text">車道內設有環湖10景，分別為崗山倒影、長堤夕照、龍口吞泉、水漾釣月、煙波虹橋、竹林泮騎、樹影果香、晨鐘......</p>
                        <a href="#" class="btn btn-primary w-100 fw-bold">看更多</a>
                        <div class="d-flex justify-content-between">
                            <div><i class="bi bi-eye fs-4"></i><span class="ms-2">1085</span></div>
                            <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">3.90</span></div>
                        </div>
                    </div>
                </div>
            </li>
            <a href="#" class="btn btn-primary w-100 fw-bold">看更多</a>
        </div>

        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>