@model  bike_web.Models.user
@{
    ViewBag.Title = "memberPage";
}

<div class="container-fluid bg-lighter py-5">
    <!-- 個人資訊 -->
    <!--測試-->
    <div class="d-flex justify-content-center py-3">
        <div class="card bg-lighter" style="width: 40rem">
            <div class="card-header bg-primary">個人資訊</div>
            <div class="card-body">
                <div class="row">
                    @{
                        <div class="col-md-6">
                            <ul class="list-unstyled mb-0">
                                <li class="py-2">姓名：<span>@Model.username</span></li>
                                <li class="py-2">信箱：<span>@Model.email</span></li>
                                <li class="py-2">生日：<span>@String.Format("{0:yyyy/MM/dd}", Model.birthday)</span></li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>

    <!-- 我的推薦 -->
    <div class="d-flex justify-content-center py-3">
        <div class="card bg-lighter" style="width: 40rem">
            <div class="card-header bg-primary">我的推薦</div>
            <div class="card-body">
                <ul class="list-unstyled list-inline mb-0">
                    <li class="py-2">我的推薦1<span class="float-end">刪除</span><span class="float-end">編輯</span></li>
                    <li class="py-2">我的推薦2<span class="float-end">刪除</span><span class="float-end">編輯</span></li>
                    <li class="py-2">我的推薦3<span class="float-end">刪除</span><span class="float-end">編輯</span></li>
                    <li class="py-2">我的推薦4<span class="float-end">刪除</span><span class="float-end">編輯</span></li>
                </ul>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>

    <!-- 我的最愛 -->
    <div class="col d-flex justify-content-center py-3">
        <div class="card bg-lighter" style="width: 40rem">
            <div class="card-header bg-primary">我的最愛</div>
            <div class="card-body">
                <ul class="list-unstyled mb-0">
                    <li class="py-2">我的最愛1<span class="float-end">刪除</span></li>
                    <li class="py-2">我的最愛2<span class="float-end">刪除</span></li>
                    <li class="py-2">我的最愛3<span class="float-end">刪除</span></li>
                    <li class="py-2">我的最愛4<span class="float-end">刪除</span></li>
                </ul>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>