@{
    ViewBag.Title = "routeEditPage";
}

<div class="container" id="uploadForm">
    <h1 class="font-24 ps-3 border-start border-4 border-primary fw-bold my-4 mb-3">路線文章編輯</h1>
    <div class="content-box">
        <div class="row">
            <label for="inputUser" class="col-sm-2 col-form-label border-end border-2">作者</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputUser" readonly="readonly" value="@Session["username"]" />
            </div>
        </div>
    </div>
    <div class="content-box">
        <div class="row">
            <label for="inputDate" class="col-sm-2 col-form-label border-end border-2">刊登時間</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="inputDate" />
            </div>
        </div>
    </div>
    @*<div class="content-box">
            <div class="row">
                <label for="inputKeyword" class="col-sm-2 col-form-label border-end border-2">關鍵字標籤</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputKeyword" />
                </div>
            </div>
        </div>*@
    <div class="content-box">
        <div class="row">
            <label for="inputImg" class="col-sm-2 col-form-label border-end border-2">照片上傳</label>
            <div class="col-sm-10">
                <input type="file" id="inputImg" multiple="multiple" />
            </div>
        </div>
    </div>
    <div class="content-box">
        <div class="form-group row">
            <label for="inputUser" class="col-sm-2 col-form-label border-end border-2">文章標題</label>
            <div class="col-sm-10">
                <input type="text" class="form-control my-2" id="inputArticleTitle" />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputContent" class="col-sm-2 col-form-label border-end border-2">文章內容</label>
            <div class="col-sm-10">
                <textarea class="form-control my-2" id="inputContent" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="my-4 d-flex justify-content-center">
        <button class="btn btn-primary" id="btnSubmitByPR">送出資料</button>
        @*<button class="btn btn-outline-secondary ms-3">返回頁面</button>*@
        <a href="@Url.Action("Index","Home")" class="btn btn-outline-secondary ms-3">返回頁面</a>
    </div>
    <div id="divUploadSuccessORFail">

    </div>
</div>
<script>
        $("#btnSubmitByPR").click(function () {
        var editPR = {
            article_img_info: $("#inputImg").val(),
            article_title: $("#inputArticleTitle").val(),
            article_context: $("#inputContent").val(),
            datetime: $("#inputDate").val()

            }
        $.ajax({
            url: '@Url.Action("routeEditPage", "Member")',
                type: 'POST',
                data: JSON.stringify(editPR),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.toString() == "ok") {
                        $('#divUploadSuccessORFail').html('<div class="alert alert-success" style="width: 100%;" role="alert">路線上傳成功</div>');
                        setTimeout(function () {window.location.href='@Url.Action("MemberPage","Member")' }, 1000);
                    }
                    else if (result.toString() == "titleAndUserdouble") {
                        $("#divUploadSuccessORFail").html('<div class="alert alert-warning" style="width: 100%; text-align:center;" role="alert">您所發表的主題已存在</div>');
                        setTimeout(function () { $('#inputArticleTitle').html(''); }, 3000);
                    }
                    else {
                        $("#divUploadSuccessORFail").html('<div class="alert alert-danger" role="alert">上傳失敗，請再試一次！</div>');
                        setTimeout(function () { $('#divUploadSuccessORFail').html(''); }, 3000);
                    }
                },
                error: function (result) {
                    $('#divUploadSuccessORFail').html('<div class="alert alert-danger" role="alert">連線錯誤，請重開網頁再試一次</div>');
                    setTimeout(function () { $('#divUploadSuccessORFail').html(''); }, 3000);
                }

            });
            return false;

    });
</script>